
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;

    height: 100vh;
    background-image: linear-gradient(to right bottom, #051b37, #00486d, #007c9e, #00b3c3, #12ebd8);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    margin: 20px;
    width: 100%;
    height: 800px;
    border: 1px solid;
    border-radius: 10px;
    border: none;
}

.error {
    display: relative;
    color: red;
    padding-left: 11px;
}

.image {
    width: 40%;
    height: 100%;

    border-radius: 10px 0 0 10px;
    background-image: url("https://scontent.fmnl2-2.fna.fbcdn.net/v/t1.18169-9/15253367_1881866392036241_6871688167329603760_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeHzGTRiSAdCL994qGw5Ve0Vpo8aWVZw0DKmjxpZVnDQMiBJIA3zhWDDLVTkfUIsMvije-KIKBnf4y5zQu_Ttqyd&_nc_ohc=AkLEYECnWVAAb4jgngQ&_nc_ht=scontent.fmnl2-2.fna&oh=00_AfD2lAfrKUfauGDuBHlyQBQMf1C57GlGGcpzf37kyYLDWA&oe=6648CD0B");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.form {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;

    background-color: whitesmoke;
    width: 60%;
    height: 100%;
    border-radius: 0 10px 10px 0;
}

.form h1 {
    color: rgb(23, 143, 241);
    margin: 20px;
    text-align: center;
}

.form p {
    color: rgb(23, 143, 241);
    margin: 10px;
    text-align: center;
    font-weight: 550;
}


.form .input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    width: 100%;
    padding: 10px;
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px;
}

.socials .facebook-btn {
    background-color: rgb(24, 119, 242);
    color: white;
    border: 1px solid rgb(24, 119, 242);
    padding: 12px;
    border-radius: 7px;
    cursor: pointer;
}

.socials .facebook-btn span{
    padding: 5px;
}


.socials .facebook-btn:hover {
    background-color: rgb(9, 97, 170);
}

.socials .google-btn {
    color: #464646;
    border: 1px solid black;
    padding: 12px;
    border-radius: 7px;
    cursor: pointer;
}

.socials .google-btn span{
    padding: 5px;
}

.socials .google-btn:hover {
    background-color: rgb(185, 185, 185);
    color: white;
    border: 1px solid rgb(185, 185, 185);;
}

.fa-google {
    background: 
      linear-gradient(to bottom left,transparent 49%,#fbbc05 50%) 0 25%/48% 40%,
      linear-gradient(to top    left,transparent 49%,#fbbc05 50%) 0 75%/48% 40%,
    
      linear-gradient(-40deg ,transparent 53%,#ea4335 54%),
      linear-gradient( 45deg ,transparent 46%,#4285f4 48%),
      #34a853;
    background-repeat:no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
  }

.form-div:nth-child(2n) {
    justify-content: end;
}

.form-div {
    display: flex;
    flex-wrap: wrap;

    width: 50%;
    padding: 10px;
}

.form-div label {
    width: 95%;
    font-size: 18px;
    font-weight: 500;
    padding: 5px 0;
    color: #464646;
}

.form-div input {
    width: 95%;
    padding: 10px;
    border: solid 1px #949494;
    border-radius: 5px;
}

.form-div input:focus {
    box-shadow: 0 0 0 2px rgb(23, 143, 241);
    outline: none;
    border: none;
}


.form-div input,
.form-div label,
.form-input-btn input{
    cursor: pointer;
}

.form-checkbox {
    margin: 20px 18px;
}

.form-checkbox label {
    font-style: italic;
    font-weight: 500;
}

.form-checkbox label a{
    color: rgb(23, 143, 241);
    text-decoration: none;
}

.form-checkbox label a:hover{
    color: rgb(9, 97, 170);
}

.form-input-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 18px;
}

.form-input-btn p{
    margin: 20px 0;
}

.form-input-btn input {
    display: block;
    width: 100%;
    margin-top: 10px;
    padding: 15px;
    border-radius: 5px;
    border: none;
    color:white;
    font-weight: 550;
    background-color: rgb(23, 143, 241);
}

.form-input-btn input:hover {
    background-color: rgb(9, 97, 170);
}
